.footer {
    padding: 1rem;
    width: 100%;
    font-family: "Albert Sans";
    color: #FFFFFFB3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.links a {
    color: #FFFFFFB3;
    margin: 5px;
}